[submodule "Live2DCSharpSDK"]
	path = Live2DCSharpSDK
	url = https://github.com/Coloryr/Live2DCSharpSDK.git
[submodule "MinecraftSkinRender"]
	path = MinecraftSkinRender
	url = https://github.com/Coloryr/MinecraftSkinRender.git
